body {
  font-family: "JetBrains Mono";
  background-color: ;
}
.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
   background-color: #E7E4D4;
    overflow: hidden;
  }
  
  .bottom-navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: center;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .bottom-navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.map{
  color:#414141;
  height: 5vh;
  width: 5vh;
  margin-right: 2vw;
  margin-left: 2vw;
}

.network{
 color: #414141;
 height: 5vh;
 width: 5vh;
 margin-right: 2vw;
 margin-left: 4vw;
}

.profile{
  color: #414141;
  height: 5vh;
  width: 5vh;
  margin-right: 2vw;
  margin-left: 5vw;
}

h2{
  text-align: center;
  margin-top: 20px;
}